.card {
  border: rgba(42, 3, 86, 0.8) 1px solid;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-right: 12px;
  margin-bottom: 12px;
  width: 220px;
}

.add-button {
  font-size: 14px;
  color: rgba(42, 3, 86, 1);
  border-radius: 16px;
  padding: 8px 12px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.add-button:hover {
  background: rgba(42, 3, 86, 0.04);
}

.remove-button {
  font-weight: bold;
  color: #393b4b;
  border-radius: 24px;
}

.card-adding {
  cursor: pointer;
  width: 220px;
  border-radius: 16px;
  user-select: none;
}

.card-adding:hover {
  background: rgba(42, 3, 86, 0.04);
}



.card-wrapper {
  display: flex;
  padding: 12px;
  flex-direction: column;
}

.options {
  align-self: flex-end;
}

.add {
  font-size: 64px;
  align-self: center;
  font-weight: bolder;
  pointer-events: none;
  user-select: none;
  padding: 16px;

}

.field {
  margin-bottom: 8px;
}
