<div *ngIf="provider" class="card" >

  <div class="card-wrapper">

    <div class="options">

      <div class="add-button" *ngIf="!provider.selected" (click)="selectProvider(provider)">Select</div>

      <div class="add-button remove-button" *ngIf="provider.selected" (click)="removeProvider(provider)">X</div>

    </div>

    <div class="card-content">

      <div class="field">
        {{provider.name}}
      </div>

      <div>
        {{provider.address}}
      </div>

      <div class="field">
        {{provider.phone  | formatPhone}}
      </div>

    </div>




  </div>

</div>

<div *ngIf="!provider" class="card-adding" (click)="addNewProvider()">

  <div class="card-wrapper">

    <div class="add">
      +
    </div>

  </div>

</div>

<app-add-provider-dialog *ngIf="addProvider" (closing)="addProvider = false"></app-add-provider-dialog>
