.title-container {
  display: flex;
  flex-direction: row;
  margin: 0 32px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 34px;
  color: #2a0356;
}

.add-provider {
  font-size: 16px;
  color: white;
  border-radius: 16px;
  padding: 8px 12px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  background: rgba(42, 3, 86, 1);
}

.add-provider:hover {
  background: rgba(42, 3, 86, 0.8);
}


.divider {
  background: rgba(42, 3, 86, 0.38);
  height: 1px;
  margin: 12px 24px 18px 24px;
}
