<div class="dialog">

  <div class="click-overlay"  (click)="closeDialog()" >

  </div>

  <div class="dialog-container" [class.scale-out-center]="close" [class.scale-in-center]="!close">

    <div class="dialog-header">

      <div class="dialog-title">
        Add New Provider
      </div>

      <div class="close-button" (click)="closeDialog()">
        X
      </div>

    </div>

    <form class="dialog-form" [formGroup]="providerForm">

      <div class="dialog-input">

        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">

        <div  *ngIf="providerForm.get('name').invalid && providerForm.get('name').touched">

          <div class="error-text" *ngIf="providerForm.get('name').errors['required']">
            Name is required
          </div>

        </div>

      </div>

      <div class="dialog-input">

        <label for="phone">Phone</label>
        <input id="phone" type="tel" max="10" maxlength="10" formControlName="phone">

        <div *ngIf="providerForm.get('phone').invalid && providerForm.get('phone').touched">

          <div class="error-text" *ngIf="providerForm.get('phone').errors['required']">
            Phone is required
          </div>

          <div class="error-text" *ngIf="providerForm.get('phone').errors['minlength'] || providerForm.get('phone').errors['maxlength']">
            Phone is invalid
          </div>

        </div>

      </div>

      <div class="dialog-input">

        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address">

        <div *ngIf="providerForm.get('address').invalid && providerForm.get('address').touched">

          <div class="error-text" *ngIf="providerForm.get('address').errors['required']">
            Address is required
          </div>

        </div>

      </div>

      <div class="dialog-buttons">

        <input [disabled]="!providerForm.valid" (click)="createProvider()" type="submit" class="ok-button" value="Ok">

        <input type="button" class="cancel-button" value="Cancel" (click)="closeDialog()">

      </div>

    </form>

  </div>

</div>

<app-toast-notification *ngIf="showToast" [message]="toastMessage" (fadedOut)="showToast = false"></app-toast-notification>



